<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2">Filter By:</div>
            <div class="col-md-4">
                <!--[] are used for propert binding: from UI to component property
                () are used to rise on change event: bind from property to UI-->
                <input type="text" 
                [(ngModel)]='listFilter'
                />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>Filtered By: {{listFilter}}</h3>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table" *ngIf='products && products.length'>
                <thead>
                    <tr>
                        <th>
                            <!--() are used to bind an event-->
                            <button class="btn btn-primary" (click)=toggleImage()>
                               {{showImage ? 'Hide Image' : 'Show Image'}}
                            </button>
                        </th>
                        <th>Product</th>
                        <th>Code</th>
                        <th>Available</th>
                        <th>Price</th>
                        <th>5 Star Rating</th>
                    </tr>
                </thead>
                <tbody>
                    <!--To use angular directives use a * synthax-->
                    <tr *ngFor='let product of products | productFilter: listFilter'>
                        <td>
                            <img *ngIf='showImage' 
                            [src]='product.imageUrl' 
                            [title]='product.productName' 
                            [style.width.px]='imageWidth' 
                            [style.margin.px]='imageMargin'/>
                        </td>
                        <td>{{product.productName}}</td>
                        <td>{{product.productCode | lowercase}}</td>
                        <td>{{product.releaseDate}}</td>
                        <td>{{product.price | currency:'USD':true:'1.2-2'}}</td>
                        <!--To pass value to the child components input property use [] (property binding)-->
                        <!--When output property/event is emited call onRatingClicked method that is implemented in the parent component
                        ratinClicked payoload is passed in the $event object-->
                        <ai-star [rating]='product.starRating'
                        (ratingClicked)='onRatingClicked($event)'></ai-star>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>